<%- include('../includes/header') %>

          <div class="container mt-4" style="min-height:600px">
              
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                        <h3 class="text-center">More Information</h3>
                        <table class="table table-info table-striped table-bordered">
                            <tr>
                                <td>Full Name</td>
                                <td><%= result.fullname %></td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td><%= result.age %></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><%= result.address %></td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td><%= result.gender %></td>
                            </tr>
                            <tr>
                                <td>Class</td>
                                <td><%= result.class %></td>
                            </tr>
                            <tr>
                                <td>Fee</td>
                                <td><%= result.fee %></td>
                            </tr>
                        </table>
                  </div>
              </div>
          </div>
<%- include('../includes/footer') %>